{% extends 'user/navbar.html' %}

{% block head %}
	User Deactivation Request Form
{% endblock %}

{% block section %}
	<div class="wrap">
		<h4>User Deactivation Request Form</h4>
		<form method = "post" action = "/user/deactivation-request/">
		{% csrf_token %}
			<p>Username : 
				<input type = "text" name = username value = "{{username}}" readonly>
			</p>
			<p>Deactivaton reason : 
				<textarea name = "deactivation_reason" required></textarea>
			</p>
			<button type = "submit">Add Deactivation request</button>
		</form>
	</div>
{% endblock %}
