{% extends 'user/navbar.html' %}

{% block title %}
DBDetails
{% endblock %}
{% block section %}
	<div><br>
		
		<div >
			
			<form action="#" onsubmit="return validation()" method="post">
                {% csrf_token %}
				<div class="form-group">
					<label for="user" class="font-weight-bold"> USER NAME: </label><br>
					<input type="text" name="USERNAME" class="form-control" id="USERNAME" autocomplete="off">
					
				</div>
       

				<div class="form-group">
					<label class="font-weight-bold"> Password: </label><br>
					<input type="password" name="pass" class="form-control" id="pass" autocomplete="off">
					
				</div>

				<div class="form-group">
					<label class="font-weight-bold"> Confirm Password: </label><br>
					<input type="text" name="conpass" class="form-control" id="conpass" autocomplete="off">
					
				</div>

				<div class="form-group">
					<label class="font-weight-bold"> DB Name</label><br>
					<input type="text" name="DBName" class="form-control" id="DBName" autocomplete="off">
					
				</div>

				<div class="form-group">
					<label class="font-weight-bold"> HOST NAME: </label><br>
					<input type="text" name="HOSTNAME" class="form-control" id="HOSTNAME" autocomplete="off">
					
				</div>
                	<div class="form-group">
					<label class="font-weight-bold"> DB type: </label><br>
					<select name="DBtype" class="form-control">
						{% for db in db_types %}
							<option> {{ db }} </option>
						{% endfor %}
					</select>
					
				</div>
				
				<input type="submit" name="submit" value="submit" 	autocomplete="off">


            </form><br><br>
            
             <div>
                <h3>
                {%for msg in messages%}
                {{msg}}

                {%endfor%}
                </h3>
             </div>


		</div>
	</div>

{% endblock %}
