{% extends 'user/navbar.html' %}

{% block title %}
Add Member
{% endblock %}

{% block section %}
    {% if not part_2 %}
		<div class="wrap">
			<h1 align="center">Add Member</h1>
			<form method = "post" action = "/user/add-member/">
			{% csrf_token %}
				<p>
					<input type = "text" name = "first_name" value = "{{member.user.first_name}}" placeholder="Enter Member's First Name" required>
				</p>
				<p>
					<input type = "text" name = "last_name" value = "{{member.user.last_name}}" placeholder="Enter Member's Last Name" required>
				</p>
				<p>
					<select name = "role" required>
						<option>Select Role</option>
						{% for code, role in roles %}
							<option> {{role}} </option>
						{% endfor %}
					</select>
				</p>
				<p>
					<input type = "email" name = "email" value = "{{member.user.email}}" placeholder="Enter Member's Email ID" required>
				</p>
				<p>
					<input type = "text" name = "contact_no" value = "{{member.contact_no}}" placeholder="Enter Member's Mobile No" required>
				</p>
				&nbsp;&nbsp;<input type = "submit"  value="Add member"> 
			</form>
		</div>
    {% else %}
        <p> MID : {{member.mid}}</p>
        <p> First name : {{member.user.first_name}} </p>
        <p> Last name : {{member.user.last_name}} </p>
        <p> Role : {{member.role}} </p>
        <p> Email : {{member.user.email}} </p>
        <p> Contact number : {{member.contact_no }} </p>
        <p> Activation code : {{ activation_code }} </p>
        <p> Want to add another member? Proceed <a href = "/user/add-member/">here</a>. </p>
    {% endif %}
{% endblock %}
