{% extends 'base.html' %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}
    <form method = "post" action = "/user/forgot-passwd/{{ part|add:"1" }}/">
    {% csrf_token %}
    <p> User type :
        <input type = "radio" value = "student" name = "user_type"
            {% if user_type == 'student' %}
                checked
            {% endif %}
        > Student
        <input type = "radio" value = "member" name = "user_type"
            {% if user_type == 'member' %}
                checked
            {% endif %}
        > Member
    </p>
    <p> Username : 
        <input type = "text"name = "username" value = "{{username}}"
            {% if part != 0 %}
                readonly
            {% endif %}
        >
        <i> ( Student ID / Member ID ) </i>
    </p>
    {% if part == 0 %}
        <p> Security Question :
            <select name = "security_question">
                {% for question in questions %}
                    <option>
                        {{question}}
                    </option>
                {% endfor %}
            </select>
        </p>
        <p> Answer :
            <input type = "password" name = "answer">
            <i> (case-sensitive) </i>
        </p>
    {% endif %}
    {% if part == 1 %}
        <p> Password :
            <input type = "password" name = "password"> 
        </p>
        <p> Confirm Password :
            <input type = "password" name = "confirm_password">
        </p>
    {% endif %}
    {% if part != 2 %}
        <button type = "submit">
            {% if part == 1 %}
                Set password
            {% elif part == 0 %}
                Continue
            {% endif %}
        </button>
    {% endif %}
    {% if part == 2 %}
        <h4> Password changed! Try logging in with new password.</h4>
    {% endif %}
{% endblock %}
