{% extends 'base.html' %}

{% block content %}
    <p>
        <a href = "/user/dashboard/">Dashboard</a> |
        {% block tabs %} {% endblock %}
        <a href = "/user/profile/{{user.username}}/">Profle</a> |
        <a href = "/complain/"> Complain</a> |
        <a href = "/user/logout/"> Log out </a> |
        
        {% if user.is_staff %}
            <a href = "{% url 'chatbox' %}"> Chatbox </a> |
            <a href = "/user/"> User </a> |
            <a href = "/verification/add-table"> Add Table </a> |
            <a href = "{% url 'Thread List' %}">Thread</a> |
        {% else %}
         <a href = "{% url 'studchatbox' %}"> Chatbox </a> |
        {% endif %}
        <hr>
    </p>

    {% block section %}

    {% endblock %}
{% endblock %}
