{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div align = "center">
    <form method = "post" action = "/user/register/">
    {% csrf_token %}
        <p>
            First Name :
            <input type = "text" name = "first_name" value = "{{student.user.first_name}}">
        </p>
        <p>
            Last Name :
            <input type = "text" name ="last_name" value = "{{student.user.last_name}}">
        </p>
        <p>
            UID :
            <input type = "text" name = "uid" value = "{{student.uid}}">
        </p>
        <p>  Branch :
            <select name = "branch">
                {% for code, branch in branches %}
                    <option> {{branch}} </option>
                {% endfor %}
            </select>
        </p>
        <p> Year :
            <select name = "year">
                {% for code, year in years %}
                    <option> {{year}} </option>
                {% endfor %}
            </select>
        </p>
        <p> Admission Type : 
            <select name = "admission_type">
                {% for code, type in admission %}
                    <option> {{type}} </option>
                {% endfor %}
            </select>
        </p>
        <p> Contact No :
            <input type = "text" name = "contact_no">
        </p>
        <p> Email :
            <input type = "email" name = "email">
        </p>
        <button type = "submit">Continue</button>
    </form>
    </div>
{% endblock %}