{% extends 'base.html' %}

{% load static %}

{% block title %}
    Sign Up
{% endblock %}

{% block js_script %}
	function generateCaptcha() {
            var alpha = new Array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '!', '@', '#', '$', '%', '^', '&', '*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0');
            var i;
            for (i = 0; i < 4; i++) {
                var a = alpha[Math.floor(Math.random() * alpha.length)];
                var b = alpha[Math.floor(Math.random() * alpha.length)];
                var c = alpha[Math.floor(Math.random() * alpha.length)];
                var d = alpha[Math.floor(Math.random() * alpha.length)];
                var e = alpha[Math.floor(Math.random() * alpha.length)];
                var f = alpha[Math.floor(Math.random() * alpha.length)];
            }
            var code = a + '' + b + '' + '' + c + '' + d + '' + e + '' + f;
            document.getElementById("sucapcode").value = "Captcha Code =" + code;
        }
{% endblock %}

{% block body_onload %}
	onload="generateCaptcha()"
{% endblock %}

{% block content %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/formstyle.css' %}">

	<div class="wrap">
		<form name="signupform" method="post">
			{% csrf_token %}
			<h1><center> Student Signup Here </center></h1>
			<input type="text" name="sid" id="suuid" value="{{ student.sid }}" placeholder="Enter Student ID (Username)" autocomplete="off" required><br>
			<input type="text" name="first_name" value="{{ student.user.first_name }}"placeholder="Enter First name" autocomplete="off" required>
			<input type="text" name="last_name" value="{{ student.user.last_name }}" placeholder="Enter Last name" autocomplete="off" required>
			<select name="year" autocomplete="off">
				<option> Year </option>
				{% for year in years %}
					<option{% if student.year == year %}selected{% endif %}> {{ year}} </option>
				{% endfor %}
			</select>
			 <select name="department" autocomplete="off">
				<option selected="">Department</option>
				{% for department in departments %}
					<option {% if student.department == department %}selected{% endif %}> {{ department }} </option>
				{% endfor %}
			</select> <br>
			<input type="email" name="email" id="semil" value="{{ student.user.email }}" placeholder="Enter Registered Email Id" autocomplete="off" required><br>
			<input type="text" name="contact_no" id="sphno" value="{{ student.contact_no }}" placeholder="Enter Registered Contact Number" autocomplete="off" required><br>
			<br>
			  &nbsp;&nbsp;<b>Select Question</b>
			  <select name="security_question" id="security_question" autocomplete="off">
					<option>Select Question</option>
					{% for question in questions %}
						<option> {{ question }}	</option>
					{% endfor %}
				</select>
				<input type="text" name="security_answer" placeholder="Enter Your Answer" id="signupans" autocomplete="off"  required> 
				<input type="password" name="password" id="signuppswd" placeholder="Enter New Password" required>
				<input type="password" name="confirm_password" id="signupcpswd" placeholder="Confirm Password" required>
				<input type="text" id="sucapcode" disabled="disabled">
				<input type="button" id="suref" value="refresh" onclick="generateCaptcha()"><br>
				<input type="text" placeholder="Enter captcha" required><br>
				
			<input type="submit" id="signupsub" value="Sign Up">
		</form>
	</div>

{% endblock %}
