{% extends 'base.html' %}

{% block title %}
	Media Center
{% endblock %}

{% block content %}
	
	<br />
    <fieldset>
        <legend>
            <h3><b>ABSTRACT ABOUT OUR WEBSITE</b></h3>
        </legend>

        <U><center><h2>Student Grevience Support System</h2></center></U><br>
        <h4>
            <p><b>Main Purpose is to develop the application portal for students to listen their problems faced in daily college life and to give a solution to it. We provide them a way to interact with committee member and get required information delivered to them in smoother way.</b></p>
            <p>
                <b>
                    This will definitely help student focussing on their studies and get rid of being tense about the problems.
                    We have provided a way to get one click help!
                </b>
            </p>
        </h4>
        <p><b>Helpline number :</b> <i>0000000000</i> / <i>0000000000</i></p>
       <p><b> email us at :</b> <i>xyz@xyz.in</i></p>
        </b>
        <br>
    </fieldset>

{% endblock %}
