{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/formstyle.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navstyle.css' %}">
	<!--
		 <link rel="stylesheet" type="text/css" href="formstyle.css">
		 <link rel="stylesheet" type="text/css" href="navstyle.css">
		-->
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<br />
	<nav>
		 <img src="{% static 'logo.jpeg' %}" width="200" height="80" />
<input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
	<ul>
		<li><a href="{% url 'lhome' %}">Home</a></li>
		<li><a href="{% url 'lsignup' %}">Signup</a></li>
		<li><a>Dedicated Staff</a>
			<div class="menu1">
			<ul>
				<li><a>COMPUTER DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
				<li><a>MECHANICAL DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
				<li><a>ELECTRONICS DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
				<li><a>CEVIL DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
				<li><a>CHEMICAL DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
				<li><a>IT DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
				<li><a>HUMANITY DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
			</ul>
			</div>			
		</li>
		<li><a>Contact Us</a></li>
		<li><a href="{% url 'lmedia' %}">Media Center</a></li>

	</ul>
	</nav>
	<br />

	<h2><center>*ABOUT DEVELOPERS*</center></h2>
	<fieldset>
		<legend>
			<h3><center>Developed and Designed By</center></h3>
		</legend>
		<div class='floatBox1'>
			<h3>Develporer 1:</h3><br><h4>
				<b>
					<u>Name      :</u> Harshal<br>
					<u>Profile   :</u> Engineering Student<br>
					<u>Institute :</u> Datta Meghe College of Engineering<br>
					<u>Stream    :</u> Computer Engineering<br>
					<u>Contact   :</u> 0000000000

				</b>
			</h4>
		</div>
		<div class='floatBox2'>
			<h3>Developer 2:</h3><br>
			<h4>
				<b>
					<u>Name      :</u> Sanket Tukaram Dhake<br>
					<u>Profile   :</u> Engineering Student<br>
					<u>Institute :</u> Datta Meghe College of Engineering<br>
					<u>Stream    :</u> Computer Engineering<br>
					<u>Contact   :</u> 0000000000
				</b>
			</h4>
		</div><br><br><br><br><br><br><br><br><br><br><br><br /><br /><br /><br /><br /><br />
		<div class='floatBox2'>
			<h3>Developer 4:</h3><br>
			<h4>
				<b>
					<u>Name      :</u> <br>
					<u>Profile   :</u> Engineering Student<br>
					<u>Institute :</u> Datta Meghe College of Engineering<br>
					<u>Stream    :</u> Computer Engineering<br>
					<u>Contact   :</u>
				</b>
			</h4>
		</div>
		<div class='floatBox1'>
			<h3>Develporer 3:</h3><br><h4>
				<b>
					<u>Name      :</u> <br>
					<u>Profile   :</u> Engineering Student<br>
					<u>Institute :</u> Datta Meghe College of Engineering<br>
					<u>Stream    :</u> Computer Engineering<br>
					<u>Contact   :</u>

				</b>
			</h4>
		</div><br><br><br><br><br><br><br><br><br><br><br><br /><br /><br /><br /><br /><br />
		<div class='floatBox2'>
			<h3>Developer 6:</h3><br>
			<h4>
				<b>
					<u>Name      :</u> <br>
					<u>Profile   :</u> Engineering Student<br>
					<u>Institute :</u> Datta Meghe College of Engineering<br>
					<u>Stream    :</u> Computer Engineering<br>
					<u>Contact   :</u>
				</b>
			</h4>
		</div>
		<div class='floatBox1'>
			<h3>Develporer 5:</h3><br><h4>
				<b>
					<u>Name      :</u> <br>
					<u>Profile   :</u> Engineering Student<br>
					<u>Institute :</u> Datta Meghe College of Engineering<br>
					<u>Stream    :</u> Computer Engineering<br>
					<u>Contact   :</u>

				</b>
			</h4>
		</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

	</fieldset>

</body>
</html>