{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/formstyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navstyle.css' %}">
    <!--
          <link rel="stylesheet" type="text/css" href="formstyle.css">
          <link rel="stylesheet" type="text/css" href="navstyle.css">
     -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script type="text/javascript">
        function generateCaptcha() {


            var alpha = new Array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '!', '@', '#', '$', '%', '^', '&', '*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0');
            var i;
            for (i = 0; i < 4; i++) {
                var a = alpha[Math.floor(Math.random() * alpha.length)];
                var b = alpha[Math.floor(Math.random() * alpha.length)];
                var c = alpha[Math.floor(Math.random() * alpha.length)];
                var d = alpha[Math.floor(Math.random() * alpha.length)];
                var e = alpha[Math.floor(Math.random() * alpha.length)];
                var f = alpha[Math.floor(Math.random() * alpha.length)];
            }
            var code = a + '' + b + '' + '' + c + '' + d + '' + e + '' + f;
            document.getElementById("fpcapcode").value = "Captcha Code =" + code;
        }
    </script>
</head>
<body onload="generateCaptcha()">
    <nav>
         <img src="{% static 'logo.jpeg' %}" width="200" height="80" />
<input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
        <ul>
            <li><a href="{% url 'lhome' %}">Home</a></li>
            <li><a href="{% url 'lsignup' %}">Signup</a></li>
           <li><a>Dedicated Staff</a>
            <div class="menu1">
            <ul>
                <li><a>COMPUTER DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
                <li><a>MECHANICAL DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
                <li><a>ELECTRONICS DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
                <li><a>CEVIL DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
                <li><a>CHEMICAL DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
                <li><a>IT DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
                <li><a>HUMANITY DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
            </ul>
            </div>          
        </li>
            <li><a href="{% url 'lcontacts' %}">Contact Us</a></li>
            <li><a href="{% url 'lmedia' %}">Media Center</a></li>

        </ul>
    </nav>
    <br>
    <div class="wrap">
        <form class="form" name="fpaswform">

            <input type="text" id="fpuid" placeholder="Enter User ID" required>
            <input type="text" id="fpmail" placeholder="Enter User's Email ID" required><br />
            <input type="radio" id="fprhod" name="rlgn"> &nbsp;&nbsp; HOD<br />
            <input type="radio" id="fprteacher" name="rlgn"> &nbsp;&nbsp; Teacher<br />
            <input type="radio" id="fprstudent" name="rlgn"> &nbsp;&nbsp; Student<br />
            <input type="text" id="fpcapcode" disabled="true">
            <input type="button" id="fpref" value="refresh" onclick="generateCaptcha()"><br>
            <input type="text" id="fpucap" placeholder="Enter Captcha" required><br>
            &nbsp;&nbsp;<b>Select Question</b><select>
                <option value="0">Select Question</option>
                <option value="1">Enter your SSC SchoolName</option>
                <option value="2">Enter your mother's name</option>
                <option value="3">Enter your mother tongue language</option>
                <option value="4">Enter your blood group</option>
                <option value="5">Enter your childhood nickname</option>
            </select>
            <input type="text" placeholder="Enter Your Answer" id="fpans"  required/>
            <input type="text" id="fpswd" placeholder="Enter New Password" required>
            <input type="text" id="fcpswd" placeholder="Confirm Password" required>
            <input type="submit" value="Change" onclick="fn()"/>
            
        </form>
    </div>



</body>




</html>