{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Home</title>



	<link rel="stylesheet" type="text/css" href="{% static 'css/formstyle.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navstyle.css' %}">
	<!--
			 <link rel="stylesheet" type="text/css" href="formstyle.css">
			 <link rel="stylesheet" type="text/css" href="navstyle.css">
		-->
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<script type="text/javascript">
		function generateCaptcha() {
			var alpha = new Array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '!', '@', '#', '$', '%', '^', '&', '*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0');
			var i;
			for (i = 0; i < 4; i++) {
				var a = alpha[Math.floor(Math.random() * alpha.length)];
				var b = alpha[Math.floor(Math.random() * alpha.length)];
				var c = alpha[Math.floor(Math.random() * alpha.length)];
				var d = alpha[Math.floor(Math.random() * alpha.length)];
				var e = alpha[Math.floor(Math.random() * alpha.length)];
				var f = alpha[Math.floor(Math.random() * alpha.length)];
			}
			var code = a + '' + b + '' + '' + c + '' + d + '' + e + '' + f;
			document.getElementById("capcode").value = "Captcha Code =" + code
		}
		function appear() {
			document.getElementById("logindept").style.display = "block";
			document.getElementById("loginselectype").style.display = "block";

		}
		function dissappear() {

			document.getElementById("logindept").style.display = "none";
			document.getElementById("loginselectype").style.display = "none";

		}
	</script>
</head>
<body onload="generateCaptcha()">


<nav>
	 <img src="{% static 'logo.jpeg' %}" width="200" height="80" />
<input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>

	<ul>
		<li><a>Home</a></li>
		<li><a href="{% url 'lsignup' %}">Signup</a></li>
		<li><a>Dedicated Staff</a>
			<div class="menu1">
			<ul>
				<li><a>COMPUTER DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
				<li><a>MECHANICAL DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
				<li><a>ELECTRONICS DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
				<li><a>CEVIL DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
				<li><a>CHEMICAL DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
				<li><a>IT DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
				<li><a>HUMANITY DEPT</a>
					<div class="menu2">
						<ul>
							<li>1.-</li>
							<li>2.-</li>
						</ul>
					</div>
				</li>
			</ul>
			</div>			
		</li>
		<li><a href="{% url 'lcontacts' %}">Contact Us</a></li>
		<li><a href="{% url 'lmedia' %}">Media Center</a></li>
	</ul>
</nav>
<marquee>
		<img src="{% static 'image1.jpeg' %}" height="100" width="200">
		<img src="{% static 'image2.jpeg' %}" height="100" width="200">
		<img src="{% static 'image3.jpeg' %}" height="100" width="200">
		<img src="{% static 'image4.jpeg' %}" height="100" width="200">
		<img src="{% static 'image5.jpeg' %}" height="100" width="200">
		<img src="{% static 'image7.jpeg' %}" height="100" width="200">
		<img src="{% static 'image8.jpeg' %}" height="100" width="200">
		<img src="{% static 'image9.jpeg' %}" height="100" width="200">
	</marquee>

	<div class="wrap">
		<form>
			<h1><center>LOGIN HERE!!!</center></h1>
			<input type="text" id="uid" placeholder="Enter User ID" size="50" required><br>
			<input type="password" id="upawd" placeholder="Enter Password" size="50" required><br>
			
			<a href="{% url 'lforgpasw' %}"><i>Forgot Passord</i></a><br />
			<input type="radio" id="rhod" name="rlgn" onclick="dissappear()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HOD Login<br />
			<input type="radio" id="rteacher" name="rlgn"  onclick="dissappear()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Teacher Login<br />
			<input type="radio" id="rstudent" name="rlgn" onclick="appear()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Student Login</>
			<select id="logindept" hidden="true" required>
				<option selected>Department</option>
				<option value="Computer">Computer</option>
				<option value="Mechanical">Mechanical</option>
				<option value="Electrical">Electrical</option>
				<option value="Civil">Civil</option>
				<option value="IT">IT</option>
			</select>
			<select id="loginselectype" hidden="true" required>
				<option>Admission Type</option>
				<option value="12th Pass">12th Pass</option>
				<option value="Diploma Pass">Diploma Pass</option>
				
			</select>
			<input type="text" id="capcode" size="30" disabled="disabled">
			<input type="button" id="ref" value="refresh" backgroud="green" onclick="generateCaptcha()"><br>
			<input type="text" id="ucap" placeholder="Enter Captcha" size="50" required><br>
			<input type="submit" id="lformsub" value="submit"><br>
		</form>
	</div>	

</body>
</html>