{% load static %}

{% block nav_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/navstyle.css' %}">
{% endblock %}


{% block navbar %}
	<div >
		<nav>

			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="{% url 'Log in' %}">Login</a></li>
				<li><a href="{% url 'Activate Member' %}">Member Sign up</a></li>
				<li><a href="{% url 'Sign up' %}">Student Sign up</a></li>
				<li><a href="{% url 'About us' %}">About us</a></li>
			</ul>
		</nav
	</div>
	<br>
{% endblock %}
