{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Media Center</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/formstyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navstyle.css' %}">
    <!--
         <link rel="stylesheet" type="text/css" href="formstyle.css">
         <link rel="stylesheet" type="text/css" href="navstyle.css">
        -->
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    


    
</head>
<body>
    <br />
	<nav>
         <img src="{% static 'logo.jpeg' %}" width="200" height="80" />
<input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
    <ul>
        <li><a href="{% url 'lhome' %}">Home</a></li>
        <li><a href="{% url 'lsignup' %}">Signup</a></li>
       <li><a>Dedicated Staff</a>
            <div class="menu1">
            <ul>
                <li><a>COMPUTER DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
                <li><a>MECHANICAL DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
                <li><a>ELECTRONICS DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
                <li><a>CEVIL DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
                <li><a>CHEMICAL DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
                <li><a>IT DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
                <li><a>HUMANITY DEPT</a>
                    <div class="menu2">
                        <ul>
                            <li>1.-</li>
                            <li>2.-</li>
                        </ul>
                    </div>
                </li>
            </ul>
            </div>          
        </li>
        <li><a href="{% url 'lcontacts' %}">Contact Us</a></li>
        <li><a>Media Center</a></li>

    </ul>
</nav>
    <br />
    <fieldset>
        <legend>
            <h3><b>ABSTRACT ABOUT OUR WEBSITE</b></h3>
        </legend>



        <U><center><h2>Student Grevience Support System</h2></center></U><br>
        <h4>
            <p><b>Main Purpose is to develop the application portal for students to assist them in study. We provide them a way to interact with faculty and get required information.</b></p>
            <p>
                <b>
                    This will definitely help student in study and keeping in touch with our institute.
                    We have provided a way to get one click help!
                    Please support us and rate us on our official site
                </b>
            </p>
        </h4>
        <h4><center>All the Best!!!:)</center></h4>
        </b>



    </fieldset>
</body>
</html>


