{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/formstyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navstyle.css' %}">

    <!--
         <link rel="stylesheet" type="text/css" href="formstyle.css">
         <link rel="stylesheet" type="text/css" href="navstyle.css">
        -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script type="text/javascript">
        function generateCaptcha() {
            var alpha = new Array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '!', '@', '#', '$', '%', '^', '&', '*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0');
            var i;
            for (i = 0; i < 4; i++) {
                var a = alpha[Math.floor(Math.random() * alpha.length)];
                var b = alpha[Math.floor(Math.random() * alpha.length)];
                var c = alpha[Math.floor(Math.random() * alpha.length)];
                var d = alpha[Math.floor(Math.random() * alpha.length)];
                var e = alpha[Math.floor(Math.random() * alpha.length)];
                var f = alpha[Math.floor(Math.random() * alpha.length)];
            }
            var code = a + '' + b + '' + '' + c + '' + d + '' + e + '' + f;
            document.getElementById("sucapcode").value = "Captcha Code =" + code;
        }
        function appear() {
            document.getElementById("signupdept").style.display = "block";
            document.getElementById("signupselectype").style.display = "block";

        }
        function dissappear() {

            document.getElementById("signupdept").style.display = "none";
            document.getElementById("signupselectype").style.display = "none";

        }
    </script>
</head>
<body onload="generateCaptcha()">
<nav>
    <img src="{% static 'logo.jpeg' %}" width="200" height="80"  />
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>
        <li><a href="{% url 'lhome' %}">Home</a></li>
        <li><a>Signup</a></li>
        <li>
            <a>Dedicated Staff</a>
            <div class="menu1">
                <ul>
                    <li>
                        <a>COMPUTER DEPT</a>
                        <div class="menu2">
                            <ul>
                                <li>1.-</li>
                                <li>2.-</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a>MECHANICAL DEPT</a>
                        <div class="menu2">
                            <ul>
                                <li>1.-</li>
                                <li>2.-</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a>ELECTRONICS DEPT</a>
                        <div class="menu2">
                            <ul>
                                <li>1.-</li>
                                <li>2.-</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a>CEVIL DEPT</a>
                        <div class="menu2">
                            <ul>
                                <li>1.-</li>
                                <li>2.-</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a>CHEMICAL DEPT</a>
                        <div class="menu2">
                            <ul>
                                <li>1.-</li>
                                <li>2.-</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a>IT DEPT</a>
                        <div class="menu2">
                            <ul>
                                <li>1.-</li>
                                <li>2.-</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a>HUMANITY DEPT</a>
                        <div class="menu2">
                            <ul>
                                <li>1.-</li>
                                <li>2.-</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="{% url 'lcontacts' %}">Contact Us</a></li>
        <li><a href="{% url 'lmedia' %}">Media Center</a></li>

    </ul>
</nav>


<div class="wrap">
    <form name="signupform">
        <h1><center> Signup Here </center></h1>
        <input type="text" id="suname" placeholder="Enter User Name" required><br>
        <input type="text" id="suuid" placeholder="Enter User ID" required><br>
        <input type="text" id="semil" placeholder="Enter User's Email Id" required><br>
        <input type="text" id="sphno" placeholder="Enter User's Phone Number" required><br>
        <br>
            
        <input type="radio" id="surhod" name="rlgn" onclick="dissappear()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HOD Signup<br>
        <input type="radio" id="surteacher" name="rlgn" onclick="dissappear()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Teacher Signup<br>
        <input type="radio" id="surstudent" name="rlgn" onclick="appear()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Student Signup<br />
         <select id="signupdept" hidden="true" required>
            <option selected="">Department</option>
            <option value="IT">IT DEPT</option>
            <option value="COMPUTER">COMPUTER DEPT </option>
            <option value="ELECTRONICS">ELECTRONICS DEPT</option>
            <option value="CIVIL">CIVIL DEPT </option>
            <option value="CHEMICAL">CHEMICAL DEPT </option>
            <option value="MECHANICAL">MECHANICAL DEPT </option>
            <option value="HUMANITY">HUMANITY DEPT </option>
        </select> <br>
        <select id="signupselectype" hidden="true" required>
                <option>Admission Type</option>
                <option value="12th Pass">12th Pass</option>
                <option value="Diploma Pass">Diploma Pass</option>
         </select>  
        <input type="text" id="sucapcode" disabled="disabled">
        <input type="button" id="suref" value="refresh" onclick="generateCaptcha()"><br>
        <input type="text" id="suucap" placeholder="enter captcha" required><br>
          &nbsp;&nbsp;<b>Select Question</b><select>
                <option value="0">Select Question</option>
                <option value="1">Enter your SSC SchoolName</option>
                <option value="2">Enter your mother's name</option>
                <option value="3">Enter your mother tongue language</option>
                <option value="4">Enter your blood group</option>
                <option value="5">Enter your childhood nickname</option>
            </select>
            <input type="text" placeholder="Enter Your Answer" id="signupans"  required/>
            <input type="text" id="signuppswd" placeholder="Enter New Password" required>
            <input type="text" id="signupcpswd" placeholder="Confirm Password" required>


        <input type="submit" id="signupsub" value="Sign Up">
    </form>
</div>
</body>
</html>