{% extends 'base.html' %}

{% load static %}

{% block title %}
	Contact Us
{% endblock %}

{% block page_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/formstyle.css' %}">
{% endblock %}

{% block content %}
	
	<br />

	<h2><center>*ABOUT DEVELOPERS*</center></h2>
	<fieldset>
		<legend>
			<h3><center>Developed and Designed By</center></h3>
		</legend>
		<div class='floatBox1'>
			<h3>Develporer 1:</h3>
			<h4>
				<b>
					<u>Name      :</u> Harshal<br>
					<u>Profile   :</u> Engineering Student<br>
					<u>Institute :</u> Datta Meghe College of Engineering<br>
					<u>Stream    :</u> Computer Engineering<br>
					<u>Contact   :</u> 0000000000

				</b>
			</h4>
		</div><br /><br /><br /><br />
		
		<div class='floatBox2'>
			<h3>Developer 2:</h3>
			<h4>
				<b>
					<u>Name      :</u> Sanket Tukaram Dhake<br>
					<u>Profile   :</u> Engineering Student<br>
					<u>Institute :</u> Datta Meghe College of Engineering<br>
					<u>Stream    :</u> Computer Engineering<br>
					<u>Contact   :</u> 0000000000
				</b>
			</h4>
		</div><br /><br /><br /><br />
		
		<div class='floatBox1'>
			<h3>Develporer 3:</h3>
			<h4>
				<b>
					<u>Name      :</u> <br>
					<u>Profile   :</u> Engineering Student<br>
					<u>Institute :</u> Datta Meghe College of Engineering<br>
					<u>Stream    :</u> Computer Engineering<br>
					<u>Contact   :</u>
				</b>
			</h4>
		</div><br><br><br><br>
		
		<div class='floatBox2'>
			<h3>Developer 4:</h3>
			<h4>
				<b>
					<u>Name      :</u> <br>
					<u>Profile   :</u> Engineering Student<br>
					<u>Institute :</u> Datta Meghe College of Engineering<br>
					<u>Stream    :</u> Computer Engineering<br>
					<u>Contact   :</u>
				</b>
			</h4>
		</div><br><br><br /><br />
		
		<div class='floatBox1'>
			<h3>Develporer 5:</h3>
			<h4>
				<b>
					<u>Name      :</u> <br>
					<u>Profile   :</u> Engineering Student<br>
					<u>Institute :</u> Datta Meghe College of Engineering<br>
					<u>Stream    :</u> Computer Engineering<br>
					<u>Contact   :</u>

				</b>
			</h4>
		</div><br><br><br /><br />
	</fieldset>

	
{% endblock %}
