{% extends 'user/navbar.html' %}

{% block title %}
	Add Thread
{% endblock %}


{% block section %}
	<div class="wrap">
		<h2 align="center">Add Thread</h2>
		<form method="post" action="{% url 'Add Thread' %}">
			{% csrf_token %}
			<p>
				<input type="text" name="title" value="{{ thread.title }}" placeholder="Enter Title" required>
			</p>
			<p>
				<select name="category" id="category" required>
					<option selected>Select Category</option>
					{% for code, category in categories %}
						<option value="{{ category }}"> {{ category }} </option>
					{% endfor %}
				</select>
			</p>
			<p>
				<select name="sub_category" id="sub_category" required>
					<option>Select Sub Category</option>
					{% for cat in sub_categories %}
						{% for code, sub_category in cat %}
							<option> {{ sub_category }} </option>
						{% endfor %}
					{% endfor %}
				</select>
			</p>
			<p>
				<textarea name="description"required>{% if thread.description %}{{ thread.description }}{% else %}Add description here...{% endif %}</textarea>
			</p>
			&nbsp;&nbsp;<input type="submit" id="add_thread_submit" value="Add Thread">
		</form>
	</div>
{% endblock %}
