{% extends 'user/navbar.html' %}

{% block title %}
    Profile
{% endblock %}

{% block section %}

	<p align="right">
		{% if user.is_staff %}
			{% if curr_mem.role == 'Principal' %}
				<a href="/user/deactivate/{{ member.mid }}/"> Deactivate </a>
			{% elif curr_mem.role == 'HOD' %}
				<a href="/user/deactivation-request-form/{{ member.mid }}/"> Deactiviation request </a>
			{% endif %}
		{% endif %}
	</p>
	
    <p>
        <br>
        <h1>{{member.user.first_name}} {{member.user.last_name}}</h1>
        <hr width = "80%" align = "left">
        <i>Member</i>
        <br>
        <p><i> username : </i> {{member.user.username}}</p>
        
        <p><h3> Committee details: </h3></p>
        <hr width = "70%" align = "left">
        <p> <i>Member UID : </i> {{member.mid}}</p>
        <p><i>Role : </i> {{member.role}}</p>
        
        <p><h3> Contact details: </h3></p>
        <hr width = "70%" align = "left">
        <p> <i>Contact No : </i> {{member.contact_no}}</p>
        <p> <i>Email : </i> {{member.user.email}} </p>
        
    </p>
{% endblock %}

