{% extends 'user/navbar.html' %}

{% block title %}
    Add complain
{% endblock %}

{% block section %}
	<div class="wrap">
		<h1 align="center">Register Complaint</h1>
		<form method = "post" action = "/complain/add/" enctype = "multipart/form-data">
		{% csrf_token %}
			<p> Subject :
				<input type = "text" name = "subject" value = "{{complain.subject}}">
			</p>
			<p> Category :
				<select name = "category" value = "{{complain.category}}">
					{% for code, category in categories %}
						<option> {{category}} </option>
					{% endfor %}
				</select>
			</p>
			<p> Sub-categories :
				<select name = "sub_category" value = "{{complain.sub_category}}">
					{% for section in sub_categories %}
						{% for code, sub_category in section %}
							<option> {{sub_category}} </option>
						{% endfor %}
					{% endfor %}
				</select>
			</p>
			<p> Brief :
				<textarea name = "brief" value = "{{complain.brief}}"> </textarea>
			</p>
			<p> File :
				<input type = "file" name = "file" value = "{{complain.file}}">
			</p>
			<input type = "submit" value="Add complain">  
		</form>
	</div>
{% endblock %}
