{% extends 'user/dashboard.html' %}

{% block title %}
Add Note
{% endblock %}

{% block section %}
    <h3> Adding note for {{ complain.id }} </h3>
    <br>
    <form method = "post" action = "/complain/{{complain.id}}/add-note/">
    {% csrf_token %}
        <p> Complain ID : <input name = 'complain_id' value = {{complain.id}} readonly>
        <p>Note : <textarea name = "note" required></textarea></p>
        <p>Attachment : <input type = "file" name = "file" >
        <p>
            <button>
                Add Note
            </button>
{% endblock %}