{% extends 'user/dashboard.html' %}

{% block title %}
Complain List
{% endblock %}

{% block section %}
    <br>
    <h3> <i> {{complain.subject}} </i> </h3>
    <p>
         <p>Complain ID : <i>{{complain.id}}</i></p>
         <p>Subject : <i>{{complain.subject}}</i></p>
         <p>Category : <i>{{complain.category}}</i></p>
         <p>Sub-category : <i>{{complain.sub_category}}</i></p>
         <p>Brief : <i>{{complain.brief}}</i></p>
         <p>File :
             {% if complain.file %}
                 <a href = "{{complain.file}}"> {{complain.get_filename}}</i></a>
             {% else %}
                 None
             {% endif %}
         </p>
         <p align = "right">Registered at <i>{{complain.reg_datetime}}</i> </p>
         <hr>
         {% if user.is_staff %}
             {% if select_button %}
                 <a href = "/complain/{{complain.id}}/select/"> Select to Solve </a> | 
             {% else %}
                 {% if complain.solver.user == user %}
                     <a href = '/complain/{{complain.id}}/add-note/'> Add note </a> |
                     <a href = '/complain/{{complain.id}}/deselect/'> Deselect </a> | 
                 {% else %}
                     <p>
                         This complain already selected by other member.<br>
                         Please try to select other complain.
                    </p>
                {% endif %}
             {% endif %}
          {% endif %}
         <a href = "/complain/"> Back </a>
         {% if user.is_staff %}
             <br><br>
             {% for note in notes %}
                 <br>
                 Note : {{ note.note }} <br>
                 {% if note.file %}
                     File : {{ note.file }} <br>
                 {% endif %}
                 Added by : {{ note.solver.user.username }}<br>
                 <div align = "right">
                     Added at {{ note.reg_datetime }}
                 </div>
                 <hr>
             {% endfor %}
         {% endif %}
    </p>
{% endblock %}