{% extends 'user/navbar.html' %}

{% block title %}
Complain List
{% endblock %}

{% block section %}
    {% if user.is_authenticated and not user.is_staff %}
        <a href = "/complain/add/"> Add a complain</a>
    {% endif %}
    <a href = "/complain/search"> Search a complain</a> |
    <h1>Complain List</h1>
    <table>
		<tr>
			<th>Complain ID</th>
			<th>Subject</th>
			<th>Cateogory</th>
			<th>Sub Category&nbsp;&nbsp;</th>
			<th>&nbsp;&nbsp;Status</th>
		</tr>
    {% for complain in complain_list %}
		<tr>
			<td>
				<a href='{{complain.id}}/'>{{complain.id}}</a>
			</td>
			<td>&nbsp;&nbsp;{{complain.subject}}&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;{{ complain.category }}&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;{{ complain.sub_category }}&nbsp;&nbsp;</td>
			<td>
				{% if complain.thread %}
					THREADED
				{% else %}
					{{ complain.action }}
				{% endif %}
			</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
