{% extends 'user/navbar.html' %}

{% block title %}
    Seach a Complain
{% endblock %}

{% block section %}
	<div class="wrap">
		<h1>Search Complain</h1>
		<form method = "post" action = "/complain/search/">
		{% csrf_token %}
			<p>
				<input type = "text" name = "query" value = "{{query}}">
			</p> 
			Search by :
			<select name = "opt" value = {{opt}}>
				{% for op in search_options %}
					<option {% if search_by == op %}selected{% endif %}>
						{{op}}
					</option>
				{% endfor %}
			</select>
			<select name="filter">
				<option>Select Filter</option>
				{% for filter in filter_options %}
					<option {% if filter_option == filter %}selected{% endif %}>
						{{ filter }}
					</option>
				{% endfor %}
			</select>
			<input type = "submit" value="Search">
		</form>
	</div>
		
    <a href = "/complain/"> Back </a>
    <br><br>
    {% if queryset %}
        {% for complain in queryset %}
            <p>
                <b><h3>
                    <a href = "/complain/{{complain.id}}/">
                        {{complain.id}} | {{complain.subject}}
                    </a>
                </b></h3>
                {{complain.category}} | {{complain.sub_category}}
                <br>
                {{complain.brief}}
                <br>
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}
