{% extends 'user/navbar.html' %}

{% block title %}
Complain List
{% endblock %}

{% block section %}
    <br>
    <h3> <i> {{complain.subject}} </i> </h3>
    
    <!-----		Complain Status		----->	
    {% if complain.thread.redressal.action == "APPROVE" or complain.redresssal.action == "APPROVE" %}
		[ Redressed ]
    {% elif complain.action_by_sorter == 'ACCEPTED' or complain.thread %}
		<div title="Complaint is accepted for solving">[ Accepted ]</div>
	{% elif complain.action_by_sorter == 'REJECTED' %}
		[ Rejected ]
    {% endif %}
    
    <p>
         <p><i>Complain ID</i> : {{complain.id}}</i></p>
         <p><i>Subject</i> : {{complain.subject}}</i></p>
         <p><i>Category</i> : {{complain.category}}</p>
         <p><i>Sub-category</i> : {{complain.sub_category}}</p>
         <p><i>Brief </i>:{{complain.brief}}</p>
         <p><i>File</i> :
             {% if complain.file %}
                 <a href = "{{ complain.file.url }}"> {{complain.get_filename}}</i></a>
             {% else %}
                 No file attached
             {% endif %}
         </p>
         
         <!-----			COMPLAINT REJECTION MESSAGE			----->
         {% if complain.action_by_sorter == 'REJECTED' %}
			<i>Rejected for :</i> {{ complain.sorter_action_msg }}
         {% endif %}
         
         <!------		TIME		----->
         <p align = "right">
			{% if complain.last_edit_at %}
				<i>last edited at </i> {{ complain.last_edit_at }}	<br>
			{% endif %}
				<i>Registered at </i>{{complain.reg_datetime}}
		</p>
		
         <hr>
         
         <!-----			REDRESSAL			----->
         {% if complain.thread.redressal.action == "APPROVE" or complain.redressal.action == "APPROVE" %}
			 <h3>Redressal</h3>
			 Redressal : 
			{% if complain.thread %}
				{{ complain.thread.redressal.text }}
			{% else %}
				{{ complain.redressal.text }}
			{% endif %}
			<br>
			{% if complain.thread and complain.thread.redressal_file %}
				File attachment :
				<a href="{{ complain.thread.redressal.file.url }}">{{ complain.thread.redressal.file.name }}</a>
			{% elif complain.redressal_file %}
				File attachment :
				<a href="{{ complain.redressal.file.url }}">{{ complain.redressal.file.name }}</a>
			{% endif %}
			<br>
         {% endif %}
         
         <!-----			EDIT LINK			----->
          {% if complain.action_by_sorter == 'REJECTED' and not user.is_staff %}
				<a href="/complain/{{ complain }}/edit/">Edit</a> | 
          {% endif %}
         <a href = "/complain/">Back to Complain List</a>
    </p>
{% endblock %}
