{% extends 'user/navbar.html' %}

{% block title %}
Complain List
{% endblock %}

{% block section %}
    <br>
    <h3> <i> {{complain.subject}} </i> </h3>
    [
    {% if complain.action == 'ACCEPTED' %}
		[ Accepted for solving ]
	{% elif complain.action == 'REJECTED' %}
		[ Rejected ]
    {% endif %}
    
    <p>
         <p><i>Complain ID</i> : {{complain.id}}</i></p>
         <p><i>Subject</i> : {{complain.subject}}</i></p>
         <p><i>Category</i> : {{complain.category}}</p>
         <p><i>Sub-category</i> : {{complain.sub_category}}</p>
         <p><i>Brief </i>:{{complain.brief}}</p>
         <p><i>File</i> :
             {% if complain.file %}
                 <a href = "{{ complain.file.url }}"> {{complain.get_filename}}</i></a>
             {% else %}
                 No file attached
             {% endif %}
         </p>
         
         {% if complain.action == 'REJECTED' %}
			<i>Rejected for :</i> {{ complain.action_msg }}
         {% endif %}
         
         <p align = "right">
			{% if complain.last_edit_at %}
				<i>last edited at </i> {{ complain.last_edit_at }}	<br>
			{% endif %}
				<i>Registered at </i>{{complain.reg_datetime}}
		</p>
		
         <hr>
         
          {% if complain.action == 'REJECTED' and not user.is_staff %}
				<a href="/complain/{{ complain }}/edit/">Edit</a> | 
          {% endif %}
         <a href = "/complain/">Back to Complain List</a>
    </p>
{% endblock %}
